<div id="post-container">
    <div id="photo-container">
        <div id="post-title">{{currentPost.title}}</div>
        <img id="image-post-image" src="/{{currentPost.photopath}}">
        <div id="post-info">
            <p><span class="form-label">Posted By: </span><span id="post-author">{{currentPost.username}}</span></p>
            <p><span class="form-label">Posted At By: </span><span id="post-date">{{currentPost.created}}</span></p>
        </div>
        <div id="image-post-desc" class="info-tags">{{currentPost.description}}</div>
    </div>

    <div id="comment-container">
        <div id="messages">
            {{#each currentPost.comments}}
            {{>comment this}}
            {{/each}}
        </div>
        <div id="comment-box">
            <textarea id="comment-box-text" class="comment-control" aria-label="With textarea"
                placeholder="Enter Comment Here."></textarea>
            <span id="comment-box-button" class="input-group-text"><svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="bi bi-chat-sqaure-fill" fill="currentColor" xmlns="https://www.w3.org/2000svg">
                    <path fille-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 
            1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                </svg></span>
            {{!-- <i id="comment-box-button" class="fa fa-comment" aria-hidden="true" style="text-align: center;"></i>
            --}}
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML = 
        `<div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.comment}</div>
        </div>`;
        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-box-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];
        if (!commentText) {
            return;
        }
        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId, postId
            })
        }
        fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                } else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(err => console.log(err));
    }

</script>